mms.fromEmailAddr="veronica.tudor@mongodb.com"
mms.replyToEmailAddr="veronica.tudor@mongodb.com"
mms.adminEmailAddr="veronica.tudor@mongodb.com"
mms.emailDaoClass=com.xgen.svc.core.dao.email.JavaEmailDao
mms.mail.transport=smtp
mms.mail.hostname=localhost
mms.mail.port=25
mms.userSvcClass=com.xgen.svc.mms.svc.user.UserSvcDb
brs.snapshotSchedule.interval=6
brs.snapshotSchedule.retention.base=2
brs.snapshotSchedule.retention.daily=0
brs.snapshotSchedule.retention.weekly=2
brs.snapshotSchedule.retention.monthly=1
mongodb.release.autoDownload=true
mongodb.release.autoDownload.enterprise=true
brs.queryable.pem=/etc/ssl/mongodb.pem
mms.centralUrl=http://ec2-34-243-98-16.eu-west-1.compute.amazonaws.com:8080
